<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BotToken" value="BotTokenBotTokenBotToken" />
		
		<add key="AdminUserId" value="SET AdminUserId" />
		<add key="KyivChatsFilePath" value="c:\temp\KChatInfo.json" />
		<add key="KyivRegionChatsFilePath" value="c:\temp\RChatInfo.json" />
		<add key="DnyproChatsFilePath" value="c:\temp\DChatInfo.json" />
		<add key="OdesaChatsFilePath" value="c:\temp\OChatInfo.json" />
	</appSettings>
</configuration>