<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BotToken" value="BotTokenBotTokenBotToken" />
		<add key="KyivChatsFilePath" value="PATH_TO_FILE/ChatInfo.json" />
		<add key="KyivRegionChatsFilePath" value="PATH_TO_FILE/RChatInfo.json" />
	</appSettings>
</configuration>