<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BotToken" value="BotTokenBotTokenBotToken" />
		
		<add key="SchedulePicRegex" value="(/media/page/page-chart-).+?(.png)" />

		<add key="StatisticsGroup" value="163029350" />
	
		<!-- Kyiv -->
		<add key="Kyiv.Site" value="http://www.dtek-kem.com.ua" />

		<!-- KyivRegion -->
		<add key="KyivRegion.Site" value="http://www.dtek-krem.com.ua" />

		<!-- Dnipro -->
		<add key="Dnipro.Site" value="http://www.dtek-dnem.com.ua" />

		<!-- Odesa -->
		<add key="Odesa.Site" value="http://www.dtek-oem.com.ua" />
		
	</appSettings>
</configuration>