<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BotToken" value="BotTokenBotTokenBotToken" />
		<add key="Site" value="http://www.dtek-krem.com.ua" />
		<add key="ShedilePicRegex" value="(/media/page/page-chart-).+?(.png)" />

		<add key="GroupStart" value="185" />
		<add key="GroupEnd" value="430" />
		<add key="GroupStep" value="45" />

		<add key="TimeStart" value="136" />
		<add key="TimeEnd" value="1000" />
		<add key="TimeStep" value="37" />
		
	</appSettings>
</configuration>